<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
    <div class="container">
        <div class="left-section">
            <a class="logo" href="/">
                <img loading="lazy" decoding="async" src="/assets/images/DSF-full-w.png" alt="DSF Enterprises logo" width="264" height="78">
            </a>
        </div>
        <div class="right-section">
            <div class="lists">
                <ul>
                    <li>
                        <h2>Information</h2>
                    </li>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/about">About Us</a>
                    </li>
                    <li>
                        <a href="/services">Services</a>
                    </li>

                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h2>Contact</h2>
                    </li>
                    <li>
                        <a href="/contact">1463 Williston Rd<br>Aiken SC 29803</a>
                    </li>
                    <li>
                        <a href="tel:803-979-0756">T: (803) 979-0756</a>
                    </li>
                    <li>
                        <a href="mailto:enterprises1923@gmail.com">Click to Email</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>