/*-- -------------------------- -->
<---          Contact           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #cs-contact-242 {
      padding: var(--sectionPadding);
  }
  #cs-contact-242 .cs-container {
      width: 100%;
      max-width: 80rem;
      margin: auto;
      display: flex;
      flex-direction: row;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
  }
  #cs-contact-242 .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: center;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: center;
  }
  #cs-contact-242 .cs-topper {
      font-size: var(--topperFontSize);
      line-height: 1.2em;
      text-transform: uppercase;
      text-align: inherit;
      letter-spacing: 0.1em;
      font-weight: 700;
      color: var(--primary);
      margin-bottom: 0.25rem;
      display: block;
  }
  #cs-contact-242 .cs-title {
      font-size: var(--headerFontSize);
      font-weight: 900;
      line-height: 1.2em;
      text-align: inherit;
      max-width: 32.625rem;
      margin: 0 0 1rem 0;
      color: var(--headerColor);
      position: relative;
  }
  #cs-contact-242 .cs-text {
      font-size: var(--bodyFontSize);
      line-height: 1.5em;
      text-align: inherit;
      width: 100%;
      max-width: 32.625rem;
      margin: 0;
      color: var(--bodyTextColor);
  }
  #cs-contact-242 .cs-right-section {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-end;
      /* 28px - 40px */
      gap: clamp(1.75rem, 4vw, 2.5rem);
      position: relative;
  }
  #cs-contact-242 .cs-ul {
      padding: 0;
      /* 16px - 32px */
      padding-left: clamp(1rem, 3vw, 2rem);
      margin: 0;
      width: 100%;
      /* prevents padding from adding to height and width */
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      gap: 3.25rem;
      justify-content: center;
  }
  #cs-contact-242 .cs-li {
      list-style: none;
      display: flex;
      justify-content: flex-start;
      align-items: center;
  }
  #cs-contact-242 .cs-li:hover .cs-icon-wrapper {
      transform: scale(1.2);
  }
  #cs-contact-242 .cs-li:nth-of-type(2) {
    padding-left: 1rem;
    border-left: 1px solid #dad9e3;
  }
  #cs-contact-242 .cs-li:nth-of-type(3) {
    border-left: 1px solid #dad9e3;
    padding-left: 1rem;
}
  #cs-contact-242 .cs-header {
      /* 16px - 20px */
      font-size: clamp(1rem, 2vw, 1.25rem);
      font-weight: 700;
      line-height: 1.2em;
      margin-bottom: 0.5rem;
      color: var(--headerColor);
      display: block;
  }
  #cs-contact-242 .cs-link {
      /* 16px - 20px */
      font-size: clamp(1rem, 2vw, 1.25rem);
      line-height: 1.2em;
      text-decoration: none;
      color: var(--bodyTextColor);
      position: relative;
  }
  #cs-contact-242 .cs-link:hover:before {
      width: 100%;
  }
  #cs-contact-242 .cs-link:before {
      /* top right box */
      content: "";
      width: 0%;
      height: 2px;
      /* current color of parent */
      background: currentColor;
      opacity: 1;
      position: absolute;
      display: block;
      bottom: 0;
      left: 0;
      transition: width 0.3s;
  }
  #cs-contact-242 .cs-block {
      /* drop the address to two lines */
      display: block;
  }
  #cs-contact-242 .cs-icon-wrapper {
      /* 32px - 36px */
      margin-right: clamp(2rem, 2.5vw, 2.25rem);
      display: flex;
      justify-content: center;
      align-items: center;
      /* prevents flexbox from squishing it */
      flex: none;
      transition: transform 0.3s;
  }
  #cs-contact-242 .cs-icon {
      /* 32px -36px */
      width: clamp(2rem, 3vw, 2.25rem);
      height: auto;
      display: block;
  }
  
}
/* Tablet - 700px */
@media only screen and (min-width: 43.75rem) {
  #cs-contact-242 .cs-right-section {
      flex-direction: row;
      align-items: center;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #cs-contact-242 .cs-container {
      max-width: 80rem;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
      column-gap: 1.25em;
      row-gap: 4rem;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #cs-contact-242 .cs-text,
  body.dark-mode #cs-contact-242 .cs-title {
      color: var(--bodyTextColorWhite);
  }
  body.dark-mode #cs-contact-242 .cs-icon {
      /* makes it so bright it turns white */
      filter: brightness(900%);
  }
  body.dark-mode #cs-contact-242 .cs-header,
  body.dark-mode #cs-contact-242 .cs-link {
      color: var(--bodyTextColorWhite);
  }
}

                              